body{
    margin: 0px;
    padding: 0px;
}
.flex{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

#cart{
    flex-direction: row;
}

nav img{
    height: 30px;
    margin: 20px;
}
nav p{
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 800    ;
}

.header-text{
    flex-direction: column;
    background-image: url(./assets/kw-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.section-container{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.books{
    width: 180px;
    margin: 20px;
}

.crafts{
    width: 280px;
    margin: 20px;
}

.games{
    width: 280px;
    margin: 20px;
}

footer{
    background-color: black;
    color: white;
}

footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


 
@media screen and (max-width: 800px) {
    .flex{
        flex-direction: column;
    }
}